@charset "UTF-8";
:root {
  --primary-red: #e31837;
  --accent-yellow: #ffff00;
  --light-gray: #f5f5f5;
  --dark-gray: #333333;
  --footer-beige: #fff5e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar hecho con bootstrap*/
.navbar {
  background-color: #f8f9fa; /* Set background color */
  border-bottom: 1px solid #dee2e6; /* Add a bottom border */
}

.navbar-brand {
  font-weight: bold;
  color: #007bff; /* Set brand color */
}

.navbar-toggler {
  border-color: #dee2e6; /* Set border color */
}

.navbar-nav .nav-link {
  color: #333; /* Set link color */
  font-weight: 500; /* Set font weight */
}

.navbar-nav .nav-link.active {
  color: #007bff; /* Set active link color */
  font-weight: bold;
}

/* Page container */
.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* tiene 3 lineas que ajustan su altura */
  min-height: 100vh; /* Esta propiedad establece la altura mínima del contenedor */
}

.hero-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  height: 90vh;
  overflow: hidden; /* PARA QUE LA IMAGEN NO SE SALGA DE SUS BORDES */
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* la imagen ajusta su apecto al ancho y alto especificados*/
  animation-name: colores;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  z-index: 0;
}

@keyframes colores {
  0%, 100% {
    filter: sepia(0) saturate(1);
  }
  30% {
    filter: sepia(0) saturate(0);
  }
  80% {
    filter: sepia(1) saturate(1);
  }
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.hero-title {
  font-size: 6rem;
  color: var(--accent-yellow);
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
}

.opening-hours {
  font-size: 0.9rem;
  line-height: 1.6;
}

/*Content Grid Section-INDEX*/
.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /*gap: 1px; Esta propiedad establece un espacio de 1 píxel entre los elementos de la cuadrícula, tanto horizontal como verticalmente.*/
  background: var(--light-gray);
  font-family: "Oswald", sans-serif;
}

.info-grid p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.info-box {
  padding: 2.5rem; /*ESPACIO HACIA ADENTRO*/
}

.quote-box {
  background: var(--light-gray);
}

.quote-box h2 {
  color: var(--primary-red);
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.voucher-box {
  background: var(--primary-red);
  color: white;
}

.voucher-box h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.voucher-box p {
  color: var(--accent-yellow);
}

.event-box {
  background: var(--dark-gray);
  color: white;
}

.event-box p {
  margin-top: 1rem;
}

.event-box h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.event-box .cta {
  color: var(--accent-yellow);
  margin-top: 2rem;
  display: inline-block;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Content Grid-PAGE1*/
.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 4rem;
  background-color: var(--bg-cream);
}

.restaurant-photo {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.description-section {
  font-size: 1rem;
}

.title-section {
  font-family: "Oswald", sans-serif;
  font-size: 4.5rem;
  line-height: 1;
  color: var(--primary-red);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.02em;
  position: relative;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 3rem;
  background: var(--footer-beige);
}

.signup-form input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
}

.contact-info {
  display: grid;
  gap: 1.5rem;
}

.contact-info p {
  line-height: 1.6;
}

.contact-info a {
  color: var(--dark-gray);
  text-decoration: none;
}

.bottom-footer {
  padding: 1rem;
  text-align: center;
  background: var(--footer-beige);
  border-top: 1px solid #ddd;
  font-size: 0.8rem;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 1000px) {
  .hero-title {
    font-size: 4rem;
  }
  .info-grid {
    grid-template-columns: 1fr;
  }
  .content-grid { /* flexbox para que el texto baje*/
    display: flex;
    flex-flow: row wrap;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .opening-hours {
    font-size: 0.8rem;
  }
  .info-box {
    padding: 1.5rem;
  }
  .quote-box h2,
  .voucher-box h2,
  .event-box h2 {
    font-size: 1.8rem;
  }
  .navbar-nav .nav-link {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #dee2e6;
  }
  .navbar-nav .nav-link.active {
    border-bottom: 2px solid #f3f3f3;
  }
  /* Contenido */
  .description-section {
    font-size: 0.9rem;
  }
  .title-section {
    font-size: 2.5rem;
  }
}

/* Estilos para el modal */
.modal-content {
  background-color: transparent !important;
  border: #e31837;
}

.btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  filter: invert(1);
}

.modal-body {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

.modal-body a {
  color: #e31837;
  font-size: 2rem;
}

.modal-body a:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=estilos.css.map */
